html {
  width: 100%;
  height: 100%;
  color: #333;
  font-family: 'Montserrat', 'Pretendard', sans-serif;
}

body {
  position: relative;
  width: 100%;
  height: 100%;

  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#focus {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: top .1s,
              left .1s;
  z-index: 10;
}
.box1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  right: 300px;
  background-color: aqua;
}
.box2 {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 400px;
  left: 200px;
  background-color: lightblue;
}
.box3 {
  width: 50px;
  height: 400px;
  position: absolute;
  top: 5px;
  left: 200px;
  background-color: lightgoldenrodyellow;
}
.box4 {
  width: 1000px;
  height: 400px;
  position: absolute;
  top: 4px;
  left: 100px;
  background-color: lightsalmon;
}